---
import Layout from './Layout.astro';
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <article>
    <h1>{frontmatter.title}</h1>
    <time datetime={frontmatter.pubDate.toISOString()}>
      {frontmatter.pubDate.toLocaleDateString('de-DE')}
    </time>
    <slot />
  </article>
</Layout> 